<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1>RD Frontend Test</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" ng-model="vm.search"
                   placeholder="Para pesquisar digite 3 ou mais caracteres" ng-change="vm.find()">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-3 bookPanel" ng-repeat="book in vm.books">
          <div class="thumbnail img-responsive">
            <a href="{{book.volumeInfo.previewLink}}" target="_blank"><img class="bookImage" alt="{{book.volumeInfo.title}}" src="{{book.volumeInfo.imageLinks.thumbnail || book.volumeInfo.imageLinks.smallThumbnail || book.volumeInfo.imageLinks.small || book.volumeInfo.imageLinks.medium}}"></a>
            <div class="caption">
              <h3 class="bookTitle">
                {{book.volumeInfo.title}}
              </h3>
              <p>
                {{book.volumeInfo.publisher}}&nbsp;{{book.volumeInfo.publishedDate}}
              </p>
              <p>
                <a href="{{book.volumeInfo.previewLink}}" target="_blank">Abra o livro completo aqui</a>
              </p>
              <p>
                <a class="btn btn-primary" href="#" ng-click="vm.favorite(book)" disabled="">Favorite</a>
                &nbsp;
                <a class="btn btn-primary" href="#" ng-click="vm.save(book)" disabled="">Save</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


